<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClickHouse.Ado" version="1.2.1" targetFramework="net461" />
  <package id="ClickHouse.Net" version="0.5.1" targetFramework="net461" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Spire.Doc" version="8.6.3" targetFramework="net461" />
</packages>